@{
    /**/

    ViewBag.Title = ":: Employee information ::";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permission = ViewData["Permission"] as PayRoll.Core.Utility.DBManager.Permission;
}
<link href="~/Content/kendo.common.min.css" rel="stylesheet" />

<script src="~/Scripts/kendo.all.min.js"></script>
@*<script src="~/Scripts/kendo.aspnetmvc.min.js"></script>*@
<script src="~/Scripts/Common.js"></script>


<div class="form-horizontal ">
    <fieldset class="content-group">
        @*<legend class="text-bold">Employee Setup</legend>*@
        <div class="form-group">
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-4">Employee Name:</label>
                        <div class="col-lg-8">
                            <input type="text" id="txtEmployeeName" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-4">Contract No:</label>
                        <div class="col-lg-8">
                            <input type="text" id="txtContractNumber" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-4">National ID:</label>
                        <div class="col-lg-8">
                            <input type="text" id="txtNationalId" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-7">Blood Group:</label>
                        <div class="col-lg-5">
                            <input type="text" id="txtBloodGroup" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*2*@
        <div class="form-group">
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-4">Father Name:</label>
                        <div class="col-lg-8">
                            <input type="text" id="txtFatherName" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-5">Mother Name</label>
                        <div class="col-lg-7">
                            <input type="text" id="txtMotherName" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-5">Emergency No:</label>
                        <div class="col-lg-7">
                            <input type="text" id="txtEmergencyNumber" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-4">Gender:</label>
                        <div class="col-lg-8">
                            <select class="form-control" id="ddlGender" name="ddlGender"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*3*@
        <div class="form-group">
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-4">Pre. Address:</label>
                        <div class="col-lg-8">
                            <input type="text" id="txtPresentAddress" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-5">Marital Status:</label>
                        <div class="col-lg-7">
                            <select class="form-control" id="ddlMaritalStatus" name="ddlMaritalStatus"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label col-lg-5">Date of Birth:</label>
                    <div class="col-lg-7">
                        <input placeholder="Select date" type="date" id="txtDateOfBirth" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        @*4*@
        <div class="form-group">
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-4">Per. Address:</label>
                        <div class="col-lg-8">
                            <input type="text" id="txtPermanentAddress" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-5">Department:</label>
                        <div class="col-lg-7">
                            <select class="form-control" id="ddlDepartment" name="ddlDepartment"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label col-lg-5">Designation:</label>
                        <div class="col-lg-7">
                            <select class="form-control" id="ddlDesignation" name="ddlDesignation"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*New Design*@
        @*<div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Employee Name:</label>
                            <div class="col-lg-9">
                                <input type="text" id="txtEmployeeName" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Contract Number:</label>
                            <div class="col-lg-9">
                                <input type="text" id="txtContractNumber" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">National ID:</label>
                            <div class="col-lg-9">
                                <input type="text" id="txtNationalId" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Emergency Number:</label>
                            <div class="col-lg-9">
                                <input type="text" id="txtEmergencyNumber" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Gender:</label>
                            <div class="col-lg-9">
                                <select class="form-control" id="ddlGender" name="ddlGender"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Father Name:</label>
                            <div class="col-lg-9">
                                <input type="text" id="txtFatherName" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <label class="control-label col-lg-3">Marital Status:</label>
                        <div class="col-lg-9">
                            <select class="form-control" id="ddlMaritalStatus" name="ddlMaritalStatus"></select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Mother Name:</label>
                            <div class="col-lg-9">
                                <input type="text" id="txtMotherName" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Department:</label>
                            <div class="col-lg-9">
                                <select class="form-control" id="ddlDepartment" name="ddlDepartment"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Present Address:</label>
                            <div class="col-lg-9">
                                <input type="text" id="txtPresentAddress" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Designation:</label>
                            <div class="col-lg-9">
                                <select class="form-control" id="ddlDesignation" name="ddlDesignation"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Permanent Address:</label>
                            <div class="col-lg-9">
                                <input type="text" id="txtPermanentAddress" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Date of Birth:</label>
                            <div class="col-lg-9">
                                <input placeholder="Select date" type="date" id="txtDateOfBirth" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Blood Group:</label>
                            <div class="col-lg-9">
                                <input type="text" id="txtBloodGroup" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Make By:</label>
                            <div class="col-lg-9">
                                <input type="text" id="txtUserId" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>*@

        @*----------------------------Data Save Method-------------------------------*@

        @*<div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>*@

        <div class="form-group">
            <label class="control-label col-lg-2"> </label>
            <div class="col-lg-10">
                @if (permission.CanSave == "1")
                {
                    <button class="btn btn-info" data-style="expand-left" id="btnSave" type="button" onclick="Save()"><i class="fa fa-save"></i>&nbsp; Save</button>
                }
                @if (permission.CanUpdate == "1")
                {
                    <button class="btn bg-teal" data-style="expand-left" id="btnUpdate" type="button" onclick="Update()"><i class="fa fa-save"></i>&nbsp; Update</button>
                }
                @if (permission.CanDelete == "1")
                {
                    <button class="btn btn-danger" data-style="expand-left" id="btnDelete" type="button" onclick="Delete()"><i class="icon-trash"></i>&nbsp; Delete</button>
                }
                <button class="btn btn-w-m btn-success btn-loading" type="button" id="btnReset" onclick="ResetForm()"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Reset</button>
            </div>
        </div>
    </fieldset>


    <fieldset class="content-group">
        @*<legend class="text-bold">Employee List</legend>*@
        @*<div id="divInfo">
                <div class="form-group">
                    <div class="table-responsive" id="div-employeeInfo">
                    </div>
                </div>
            </div>*@
        <div id="example">
            <div id="grid"></div>
        </div>
    </fieldset>
</div>

@section scripts
{
    <script type="text/javascript">
        _serverDate = null;

        $(document).ready(function () {
            LoadDepartment();
            LoadDesignation();
            LoadGender();
            LoadMaritalStatus();
            /* alert('test 1');*/
            $("#grid").kendoGrid().empty();
           // debugger;
            var result = CallAjax_POST('GetEmployee/EmployeeInfo', '', false, false)
            if (result.length > 0) {
                //    $("#dvExport").css('display', 'block');
                //else
                //    $("#dvExport").css('display', 'none');
                //alert("Test");
                PopulateGridView(result);
            } else {
                alert("Error! Please Contact..");
                //        $("#dvExport").css('display', 'none');
            }

            function PopulateGridView(result) {
                //debugger;
                $("#grid").kendoGrid({
                    dataSource: result,
                    pageable: true,
                    filterable: true,
                    pageSize: 20,
                    pageable: true,
                    pageable: {
                        input: false,
                        numeric: true,
                        butonCount: 5,
                        pageSize: 20,
                        alwaysVisible: true,
                        previousNext: true,
                        serverPaging: true,
                        serverFiltering: true,
                    },
                    //height: 550,
                    // toolbar: ["create"],
                    selectable: true,
                    //toolbar: ["search"],//search commented on 20aug22
                    search: {
                        fields: [
                            { name: "EmployeeId", operator: "eq" },
                            { name: "EmployeeName", operator: "contains" },
                            { name: "FatherName", operator: "contains" },
                            { name: "MotherName", operator: "contains" },

                        ]
                    },
                    columns: [

                        { field: "EmployeeId", title: "Employee Id", filterable: true, filterable: { multi: true, search: true }, width: "70px" },
                        { field: "GLAccountNo", title: "Account No", filterable: true, filterable: { multi: true, search: true }, width: "80px" },
                        { field: "NationalId", title: "National Id", filterable: true, filterable: { multi: true, search: true }, width: "80px" },
                        { field: "ContractNumber", title: "Contract Number", filterable: true, filterable: { multi: true, search: true }, width: "90px" },
                        { field: "EmployeeName", title: "Employee Name", filterable: true, filterable: { multi: true, search: true }, width: "120px" },
                        { field: "FatherName", title:"Father's Name", filterable: true, filterable: { multi: true, search: true }, width: "120px" },
                        { field: "MotherName", title: "Mother's Name", filterable: { multi: true, search: true }, width: "120px" },
                        { field: "Select ", title: "Action", filterable: false, width: "50px", template: "<button type='button' class='btn btn-success btn-sm' id='btnEdit'>Select</button>" }
                    ],

                });
            }
        });

    function FormDataAsObject() {
        var object = new Object();
        object.EmployeeName = $('#txtEmployeeName').val();
        object.ContractNumber = $('#txtContractNumber').val();
        object.NationalId = $('#txtNationalId').val();
        object.EmergencyNumber = $('#txtEmergencyNumber').val();
        object.GenderId = $('#ddlGender').val();
        object.FatherName = $('#txtFatherName').val();
        object.MaritalStatus = $('#ddlMaritalStatus').val();
        object.MotherName = $('#txtMotherName').val();
        object.DeptId = $('#ddlDepartment').val();
        object.PresentAddress = $('#txtPresentAddress').val();
        object.DesignationId = $('#ddlDesignation').val();
        object.PermanentAddress = $('#txtPermanentAddress').val();
        object.DateOfBirth = $('#txtDateOfBirth').val();
        object.BloodGroup = $('#txtBloodGroup').val();
        //object.UserId = $('#txtUserId').val();

        return object;
    }

    function ResetForm() {
        $('#txtEmployeeName').val('');
        $('#txtContractNumber').val('');
        $('#txtNationalId').val('');
        $('#txtEmergencyNumber').val('');
        $('#ddlGender').val('');
        $('#txtFatherName').val('');
        $('#ddlMaritalStatus').val('');
        $('#txtMotherName').val('');
        $('#ddlDepartment').val('');
        $('#txtPresentAddress').val('');
        $('#ddlDesignation').val('');
        $('#txtPermanentAddress').val('');
        $('#txtDateOfBirth').val('');
        $('#txtBloodGroup').val('');
        $('#txtDateOfBirth').val('');

        EnableDisableControls("1");
    }

    function EnableDisableControls(status) {
        if (status == "1") {
            $('#btnSave').prop('disabled', false);
            $('#btnUpdate').prop('disabled', true);
            $('#btnDelete').prop('disabled', true);
        }
        else if (status == "2") {
            $('#btnSave').prop('disabled', true);
            $('#btnUpdate').prop('disabled', false);
            $('#btnDelete').prop('disabled', false);
        }

        else {
            $('#btnSave').prop('disabled', false);
            $('#btnUpdate').prop('disabled', false);
            $('#btnDelete').prop('disabled', false);
        }
    }

        function Save()
        {
            var object = FormDataAsObject();
            debugger;

            if (EmployeeInfoValidation(object)) {

                $.ajax({
                    url: '@Url.Action("CreateOrUpdate", "EmployeeInfo")',
                    method: 'post',
                    dataType: 'json',
                    async: false,
                    data: {
                        EmployeeName: object.EmployeeName,
                        ContractNumber: object.ContractNumber,
                        NationalId: object.NationalId,
                        EmergencyNumber : object.EmergencyNumber,
                        GenderId : object.GenderId,
                        FatherName : object.FatherName,
                        MaritalStatus : object.MaritalStatus,
                        MotherName : object.MotherName,
                        DeptId : object.DeptId,
                        PresentAddress : object.PresentAddress,
                        DesignationId : object.DesignationId,
                        PermanentAddress : object.PermanentAddress,
                        DateOfBirth: object.DateOfBirth,
                        BloodGroup: object.BloodGroup,
                        //UserId: object.UserId,

                    },
                    success: function (data) {
                        var vmMsg = data;
                        if (vmMsg.MessageType == 1) {
                            ShowNotification(1, vmMsg.ReturnMessage);
                            ResetForm();
                            //LoadUserInfoGrid();

                        } else {
                            ShowNotification(3, vmMsg.ReturnMessage);
                        }
                    },
                    error: function () {
                    }
                });
            }
        }

        @*function Update()
        {
            var formObject = FormDataAsObject();

            if (EmployeeInfoValidation(formObject)) {

                $.ajax({
                    url: '@Url.Action("Update", "UserInfo")',
                    method: 'post',
                    dataType: 'json',
                    async: false,
                    data: {
                        UserName: formObject.UserName,
                        UserFullName: formObject.UserFullName,
                        UserPassword: formObject.UserPassword,
                        UserRoleId: formObject.UserRoleId,
                        UserStatusId: formObject.UserStatus,
                    },
                    success: function (data) {
                        var vmMsg = data;
                        if (vmMsg.MessageType == 1) {
                            ShowNotification(1, vmMsg.ReturnMessage);
                            ResetForm();
                            LoadUserInfoGrid();

                        } else {
                            ShowNotification(3, vmMsg.ReturnMessage);

                        }
                    },
                    error: function () {

                    }
                });

            }

        }*@

        @*function Delete()
        {
            var formObject = FormDataAsObject();

            $.ajax({
                url: '@Url.Action("Delete", "UserInfo")',
                method: 'post',
                dataType: 'json',
                async: false,
                data: {
                    userName: formObject.UserName,
                },
                success: function (data) {
                    var vmMsg = data;
                    if (vmMsg.MessageType == 1) {
                        ShowNotification(1, vmMsg.ReturnMessage);
                        ResetForm();
                        LoadUserInfoGrid();

                    } else {
                        ShowNotification(3, vmMsg.ReturnMessage);

                    }
                },
                error: function () {
                }
            });

        }*@

        function EmployeeInfoValidation(formObject) {

            if (!formObject.EmployeeName) {
                $('#txtEmployeeName').focus();
                ShowNotification('2', 'Employee Name Can not be empty.');
                return false;
            }

            if (!formObject.ContractNumber) {
                $('#txtContractNumber').focus();
                ShowNotification('2', 'Contract No Can not be empty.');
                return false;
            }

            if (!formObject.NationalId) {
                $('#txtNationalId').focus();
                ShowNotification('2', 'National ID Can not be empty.');
                return false;
            }
            if (!formObject.DeptId) {
                $('#ddlDesignation').focus();
                ShowNotification('2', 'Department Can not be empty.');
                return false;
            }
            if (!formObject.PresentAddress) {
                $('#txtPresentAddress').focus();
                ShowNotification('2', 'Present Address Can not be empty.');
                return false;
            }

            if (!formObject.PermanentAddress) {
                $('#txtPermanentAddress').focus();
                ShowNotification('2', 'Permanent Address Can not be empty.');
                return false;
            }


            return true;
        }

        function LoadDepartment() {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/EmployeeInfo/LoadDepartment",
                data: {},
                async: false,
                dataType: "json",
                success: function (data) {
                    $("#ddlDepartment").empty();
                    $("#ddlDepartment").append($("<option></option>").val("-1").html("--Select--"));
                    $.each(data, function (i, item) {
                        //console.log(item);
                        $("#ddlDepartment").append($("<option></option>").val(item.Key).html(item.Value));
                    });
                }
            });
           // $("#ddlDepartment").selectpicker('refresh');
        }

        function LoadDesignation() {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/EmployeeInfo/LoadDesignation",
                data: {},
                async: false,
                dataType: "json",
                success: function (data) {
                    $("#ddlDesignation").empty();
                    $("#ddlDesignation").append($("<option></option>").val("-1").html("--Select--"));
                    $.each(data, function (i, item) {
                        //console.log(item);
                        $("#ddlDesignation").append($("<option></option>").val(item.Key).html(item.Value));
                    });
                }
            });
            //$("#ddlDesignation").selectpicker('refresh');
        }

        function LoadGender() {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/EmployeeInfo/LoadGender",
                data: {},
                async: false,
                dataType: "json",
                success: function (data) {
                    $("#ddlGender").empty();
                    $("#ddlGender").append($("<option></option>").val("-1").html("--Select--"));
                    $.each(data, function (i, item) {
                        //console.log(item);
                        $("#ddlGender").append($("<option></option>").val(item.Key).html(item.Value));
                    });
                }
            });
            //$("#ddlDesignation").selectpicker('refresh');
        }

        function LoadMaritalStatus() {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/EmployeeInfo/LoadMaritalStatus",
                data: {},
                async: false,
                dataType: "json",
                success: function (data) {
                    $("#ddlMaritalStatus").empty();
                    $("#ddlMaritalStatus").append($("<option></option>").val("-1").html("--Select--"));
                    $.each(data, function (i, item) {
                        //console.log(item);
                        $("#ddlMaritalStatus").append($("<option></option>").val(item.Key).html(item.Value));
                    });
                }
            });
            //$("#ddlDesignation").selectpicker('refresh');
        }

    </script>

}
